@page
@model VeggieRecipe.WebApp.Pages.Categories.EditModel
@{
}
<head>

</head>
<body>
    <main>
<form method="post">
    <input type="hidden" name="id" value="@Model.Category.Id" />
    <label for="categoryName">Edit Category</label>
    <input type="text" name="categoryName" value="@Model.Category.CategoryName" />
    <input type="submit" />
</form>

    </main>
</body>