@page
@model VeggieRecipe.WebApp.Pages.AdminModel
@{
}
<head>
</head>
<body>    
    <main class="main">
        <section>
            <div class="container">
                <div class="row py-5">
                    <div class="col-lg-3 col-sm-6 pt-4">
                        <div class="card h-100 text-center p-4 mb-2 py-4 bg-light">
                            <div class="card-body">
                                <a href="/Admin/AdminUsersManage" class="card-title nav-link text-dark">Manage Users</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 pt-4">
                        <div class="card h-100 text-center p-4 mb-2 py-4 bg-light">
                            <div class="card-body">
                                <a href="/Admin/AdminRecipesManage" class="card-title nav-link text-dark">Manage Recipes</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 pt-4">
                        <div class="card h-100 text-center p-4 mb-2 py-4 bg-light">
                            <div class="card-body">
                                <a href="/Ingredients/Create" class="card-title nav-link text-dark">Manage Ingredients</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 pt-4">
                        <div class="card h-100 text-center p-4 mb-2 py-4 bg-light">
                            <div class="card-body">
                                <a href="/Categories/Create" class="card-title nav-link text-dark">Manage Categories</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 pt-4">
                        <div class="card h-100 text-center p-4 mb-2 py-4 bg-light">
                            <div class="card-body">
                                <a href="/Difficulties/Create" class="card-title nav-link text-dark">Manage Difficulties</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 pt-4">
                        <div class="card h-100 text-center p-4 mb-2 py-4 bg-light">
                            <div class="card-body">
                                <a href="/Mesuraments/Create" class="card-title nav-link text-dark">Manage measurement</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>