@page
@model VeggieRecipe.WebApp.Pages.Ingredients.EditModel
@{
}
<head>

</head>
<body>
    <main>
<form method="post">
    <input type="hidden" name="id" value="@Model.Ingredient.Id"/>
    <label for="ingredientName">Ingredient Name</label>
    <input type="text" name="ingredientName" value="@Model.Ingredient.IngredientName" />
    <input type="submit"/>
</form>

    </main>
</body>
