@page
@model VeggieRecipe.WebApp.Pages.UserFolder.ListByIdModel
@{
}
<head>

</head>
<body>
    <main>
        <p> @Model.SessionUser.FirstName</p>
        <a type="btn btn-outline-secondary" href="/UserFolder/Edit">Edit Profile</a>
        <a type="btn btn-outline-secondary" href="/FavoriteRecipes/ListById">Edit Profile</a>
    </main>
</body>