@page
@model VeggieRecipe.WebApp.Pages.Difficulties.CreateModel
@{
}
<head>

</head>
<body>
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <form method="post">
                            <label for="difficultyName" class="form-label">New Difficulty</label>
                            <input type="text" class="form-control" name="difficultyName" />
                            <button class="btn btn-outline-secondary ms-0" type="submit">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
