@page
@model VeggieRecipe.WebApp.Pages.Mesuraments.CreateModel
@{
}
<body>
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <form method="post">
                            <label for="mesuramentTitle" class="form-label">New Measurament</label>
                            <input type="text" class="form-control" name="mesuramentTitle" />
                            <button class="btn btn-outline-secondary ms-0" type="submit">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>        
    </main>
</body>